@media (max-width: 58.5em) {
  body {
    padding-top: 134px;
  }

  main {
    grid-template-columns: 1fr;
  }

  .img-pattern {
    max-width: 14.8125rem;
    left: 50%;
    top: -130px;
    transform: translateX(-50%);
  }

  .img-pc {
    max-width: 14.8125rem;
    left: 50%;
    top: -108px;
    transform: translateX(-50%);
  }

  .img-box {
    max-width: 5rem;
    top: -8%;
    left: 50%;
    transform: translateX(-145%);
  }

  .img-left {
    overflow: visible;
  }

  .faq-right {
    padding-top: 104px;
    padding-right: 0;
    padding-bottom: 27px;
  }

  .heading {
    text-align: center;
    margin-bottom: 1rem;
  }

  .accordion {
    padding: 0 24px;
  }

  .title {
    font-size: 13px;
  }

  .title-row.is-open + .content {
    height: 41px;
  }
}
